---
import Game from "../components/Game";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sudoku Solver">
  <main class="max-w-screen-lg mx-auto">
    <h1 class="text-5xl">Sudoku Solver</h1>
    <p>* Goes into an infitite loop if its unsolvable</p>
    <Game client:load />
  </main>
</Layout>
